@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    --theme-color: #75bf7a;
    --light-text-color: #9E9DA2;
}

body {

    background-color: #F9F9F9;
}

.header {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 174px;
}

.header>div {
    display: flex;
    align-items: center;
    gap: 46px;
}

.header>img {
    width: 180px;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17.16px;
    color: #000;
}

.help {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5.95px;
    background-color: var(--theme-color);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 22px;
    width: 182px;
}

.section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 50px;

}

.section2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    height: 70vh;
    margin-top: 50px;
}

.section1>h1 {
    font-weight: 800;
    font-size: 60.73px;
}

.section1>p {
    font-size: 24px;
    font-weight: 500;
    color: var(--light-text-color);
    width: 550px;
}

.section1-buttons {
    display: flex;
    gap: 30px;
}

.button1 {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24.6px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.section2>img {
    width: 500px;
}

.green-box {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 166px;
    border-radius: 10px;
    background-color: var(--theme-color);
}

.green-box>div {
    display: flex;
    align-items: center;
    gap: 12px;

}

.green-box>p {
    font-size: 24.6px;
    font-weight: 600;
    color: white;
}

.green-box input {
    width: 400px;
    border-radius: 4.39px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.green-box input:focus {
    outline-color: var(--theme-color);
}

.green-box input::placeholder {
    color: #DADADA;
}

.green-box button {
    font-size: 22px;
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section-heading span {
    color: var(--theme-color);
}

.process>p {
    font-size: 23px;
    color: var(--light-text-color);
    text-align: center;

}

.section-heading {
    font-weight: 800;
    font-size: 46.39;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.steps {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.step-1 {
    height: 90vh;
    text-align: right;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.step-2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-3 {
    height: 90vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circle {
    width: 400px;
    height: 400px;
    background-color: var(--theme-color);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option>img {
    width: 60px;
}

.option-right {
    display: flex;
    align-items: end;
}

.option p {
    color: var(--light-text-color);
    font-size: 20px;
}

.option h3 {
    font-size: 22px;
    font-weight: 800;
}

.all-benefits {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}


.benefit {
    border: none;
    width: 1060px;
    height: 304px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;



}

.right-benefit {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.benefit span {
    font-size: 88px;
    color: var(--theme-color);
}

.benefit h4 {
    font-size: 33.94px;
    font-weight: 600;
    width: 260px;
}

.benefit p {
    font-size: 22px;
    width: 420px;
    color: var(--light-text-color);
}

.heading {
    display: flex;
    align-items: center;
    gap: 23px;
}

.end {
    height: 553px;
    background-color: #FFFFFF;
}

footer {
    height: 309px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ECECEC;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-us h5 {
    font-size: 22px;
    color: #272042;
}

.contact-us a {
    font-size: 18px;
    font-weight: 400;
    color: #8B8BA5;
}

.footer-buttons {
    display: flex;
    gap: 30px;
}

.button-2 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.end>p {
    margin-top: 38px;
    text-align: center;
    color: var(--theme-color);
